.container {
  border: 3px solid rgb(168, 166, 166);
  border-radius: 5px;
  background-color: rgb(168, 168, 168);
  padding: 20px 50px;
}

.calc_form {
  color: rgb(0, 0, 0);
}

.calc_form h2 {
  margin: 10px 10px;
}

.calc_form label, .operations {
  display: flex;
  justify-content: space-between;
}
.calc_form input {
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.operation {
  color: rgb(250, 255, 177);
  display: flex;
  justify-content:center;
}

.operations button {
  margin: 25px 10px;
  width: 80px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(219, 219, 219);
  font-size: 1.5em;
}

.calculate {
  display: flex;
  border-radius: 10px;
  border: 3px solid rgb(192, 192, 192);
  font-size: 1.2em;
  font-weight: bolder;
  color: rgb(9, 55, 61)
}

.result {
  display: flex;
  justify-content:center;
  text-transform: uppercase;
  text-decoration: underline;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}